// Bootstrap theme


//
// Custom Color system
//


// Default colors are copied here for convenience.
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

// Custom color palette





// Theme color settings
$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;


// Type
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$display1-size:               5rem;
$display2-size:               2.5rem;
// .display-3 and and .display-4 are not used

// Import default Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

.before-header-container {
    padding: 10px 0;
    text-align: right;
    position: absolute;
    width: 100%;
    li {
        display: inline-block;
        list-style-type: none;
        a {
            padding: 10px 15px;
            font-size: 17px;
            text-transform: uppercase;
            background-color: $primary;
            border: 1px solid $primary;
            font-weight: bold;
            color: $white;
            display: block;
            min-width: 230px;
            text-align: center;
            text-decoration: none;
        }
    }
        
}
header {
    position: absolute;
    margin-top: 60px;
    min-height: 100px;
    width:100%;
    .title-area {
        float: left;
        padding: 0;
        width: 300px;
        top: -45px;
        position: absolute;
    }
    nav {
        float: right;
        text-align: right;
        width: 855px;
        margin-top:$spacer;
        display: inline-block;
        vertical-align: middle;
        ul {
            clear: both;
            font-size: 16px;
            line-height: 1;
            width: 100%;
            li {
                display: inline-block;
                list-style-type: none;
                a {
                    color: $white;
                    font-weight: bold;
                    padding: 25px 11px;
                    margin-top: 10px;
                    font-size: 16px;
                    text-shadow: 1px 1px 1px #000;
                }
            }
        }
    }    
}
.banner-container {
    background-image: url('homepage-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 270px 0 270px;
    .site-title {
        color:$white;
        text-align:right;
        text-shadow: 1px 1px 1px #000;
    }
}
.wrap {
    margin: 0 auto;
    max-width: 1170px;
}
