// PATRIOTIC BOOTSTRAP THEME


//
// Custom Color system
//


// Default colors are copied here for convenience.
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

// Custom color palette
$dark-blue:     #0c2141;
$soft-blue:     #2e598f;
$faded-uniform: #a4b6c1;
$faded-flag:    #ebead9;
$patriotic-red: #940f15;

// Theme color settings
$primary:       $patriotic-red;
$secondary:     $gray-600;
$success:       $soft-blue;
$info:          $faded-flag;
$warning:       $dark-blue;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$body-bg:       $faded-flag;

// Links
$link-decoration: underline;


// Type
@import url('https://fonts.googleapis.com/css?family=Questrial');
$font-family-sans-serif:      Questrial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base:              1.25rem;
$display1-size:               5rem;
$display2-size:               2.5rem;
// .display-3 and and .display-4 are not used
$shadow:                      3px 3px 10px #000;

// Import default Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

h1,h2{
    color: $patriotic-red;
    font-weight: bold;
}
h3,h4,h5,h6 {
    color: $dark-blue;
}

.before-banner-container {
    position: absolute;
    width: 100%;
    ul {
        text-align: center;
        padding: 0;
        li {
            display: inline-block;
            list-style-type: none;
            margin-bottom: 2px;
            a {
                padding: 10px 15px;
                font-size: 17px;
                text-transform: uppercase;
                background-color: $primary;
                border: 1px solid $primary;
                font-weight: bold;
                color: $white;
                display: block;
                min-width: 230px;
                text-align: center;
                text-decoration: none;
            }
        }
    }
}
@include media-breakpoint-up(lg) {
  .before-banner-container ul {text-align: right}
}
nav {
    margin-top: $spacer;
    a.nav-link, a.nav-link:hover {
        color: $white;
        font-weight: bold;
        text-shadow: $shadow;
        text-decoration: underline;
    }
}  
.banner-container {
    background-image: url('homepage-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 250px 10% 270px;
    box-shadow: 0px 10px 20px -7px $gray-800;
    .site-title {
        h1,h2 {
            color:$white;
            text-align:right;
            text-shadow: $shadow;
        }
    }
    .site-tag {
        max-width: 500px;
        float:right;
        padding: 0.5rem;
        margin-top: $spacer;
        background-color: rgba(150, 150, 150, 0.8);
        color: $white;
        p {
            margin:0;
        }
    }
}
.wrap {
    margin: 0 auto;
    max-width: 1170px;
}
